
{% load static %}
<script src="{% static 'intercooler.js' %}"></script>

{% if ajax_post %}
  <form ic-post-to="{{post_to_url}}" ic-target="#content">
{% else %}
  <form action="{{post_to_url}}"  method="post">
{% endif %}
  {% csrf_token %}
  <input type="hidden" name="{{option_name}}" value="{{current_option}}">
  <table>
    {% for option in options %}
      {% if current_option == "" or current_option == forloop.counter0|slugify %}
        <tr>
          <td>{{option.image}}</td>
          <td><input class="btn btn-default" type="submit" value="{{option.value}}" name="{{option.name}}"></td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</form>