
{% load static %}

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stemp Tool: Lützow{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ionicons-2.0.1/css/ionicons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stemp/foundation/css/app.css' %}">
    {% block header %}{% endblock %}
  </head>
  <body>
    <div class="{% block body-class %}l-bg-color u-vh--100{% endblock %}">
      {% include 'stemp/navigation.html' %}

      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'stemp/foundation/js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>