{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
{% include "bokeh.html" %}
<script src="{% static 'highcharts.js' %}"></script>
{% endblock %}

{% block content %}

{% include "includes/submenu.html" with current_menu="comparison"%}

<form action="{% url 'stemp:comparison' %}" method="post">
    {% csrf_token %}
    {{comparison}}
    <input class="btn btn-default" type="submit" value="Vergleiche Szenarien" name="compare">
</form>

{% for sim_id, visualizations in visualizations.items %}
    {{sim_id}}
    {% for visualization in visualizations %}
        {% include "includes/detailed_result_widget.html" with visualization=visualization %}
    {% endfor %}
{% endfor %}

{% endblock %}