{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<script src="{% static 'highcharts.js' %}"></script>
{% endblock %}

{% block submenu %}
{% include "includes/submenu.html" with current_menu="demand"%}
{% endblock %}

{% block content %}

<div id="structure"></div>
<div id="content"></div>

<script src="{% static 'jquery.js' %}"></script>
<script language="JavaScript">
  $(function() {
    // Initial call when document is ready
    load_structure({{current_structure | default_if_none:"null"}});
    load_structure_content({{current_structure | default_if_none:"null"}});
  });

  function load_structure(structure) {
    $.ajax(
      {
        url : "structure",
        type : "GET",
        data: {"current_structure": structure},
        success : function(page) {$("#structure").html(page);}
      }
    )
  };

  function load_structure_content(structure) {
    if ( structure == null ) {
      return;
    }
    if ( structure == 0 ) {
      var url = "single_household";
    } else {
      var url = "district";
    }
    $.ajax(
      {
        url : url,
        type : "GET",
        success : function(page) {$("#content").html(page);}
      }
    )
  };
</script>

{% endblock %}