{% extends "stemp/base.html" %}

{% load staticfiles %}

{% block body-class %}u-vh--100{% endblock %}

{% block content %}

<div class="grid-container fluid u-no-padding">
  <div class="grid-x">

    <!-- STEPS INFO START (LEFT) -->
    <div class="cell large-4 l-bg-color scen-create__info u-text--center u-block--center" id="scen-create-wrapper">
      <div class="cell"><h1>Viertel erstellen</h1></div>
      <ul class="wizard wizard-circular" role="steps" aria-label="Steps">
        <li class="current"><span class="show-for-sr">Sie sind auf der Seite</span> 1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>

      <div class="scen-create__description">
        <div class="scen-create__icon"><img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Viertel.svg' %}"></div>
        <h2 class="scen-create__header">Viertelstruktur</h2>
        <p class="scen-create__text show-for-large">Ein Viertel besteht aus mehreren Haushalten. Sie können Haushalte aus selbst definierten oder aus Standardwerten erstellen und sie dem Viertel hinzufügen.</p>
      </div>
    </div>
    <!-- STEPS INFO END -->

    <!-- STEPS TASKS START (RIGHT) -->
    <div class="cell large-8 large-offset-4 l-bg-color-w scen-create__wrapper u-text--center">
      <form class="grid-x scen-create__form" method="post">
        {% csrf_token %}

        <div class="cell medium-10 medium-offset-1 large-8 large-offset-2">
          <h3>Lützow</h3>
          <div class="icon-save">
            <a href="#">
              <img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Save_1.svg' %}" alt="Als Szenario speichern" title="Als Szenario speichern">
            </a>
          </div>
          <div class="icon-load">
            <a>
              <img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Upload.svg' %}" alt="Gespeichertes Szenario laden" title="Gespeichertes Szenario laden">
            </a>
          </div>
        </div>

        {% for field in district_form %}
          {{field}}
        {% endfor %}

        {% url 'stemp:demand_selection' as back_url%}
        {% include 'includes/button_section.html' with back_url=back_url %}

      </form>
    </div>
    <!-- STEPS TASKS END -->

  </div>
</div>

{% endblock %}