
{% extends "stemp/base.html" %}

{% load staticfiles %}

{% block content %}

<div class="grid-container">

  <section class="scenario__wrapper">
    <div class="grid-x">
      <div class="cell medium-8 large-6 u-text--center u-block--center scenario__question">
        <h2>Welches Szenario möchten Sie erstellen?</h2>
      </div>
    </div>

    <div class="grid-x u-block--center">
      <div class="cell medium-4 medium-offset-2 u-text--center scenario__icon">
        <a href="{% url 'stemp:demand_single' %}">
          <div class="scenario__icon-circle u-block--center">
            <img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Einzelhaus.svg' %}">
          </div>
          <div class="scenario__icon-label">
            <p><span data-tooltip tabindex="1" title="Sie können Ergebnisse für einen einzigen Einzelhaushalt erhalten" data-position="bottom" data-alignment="center">Einzelhaus</span></p>
          </div>
        </a>
      </div>
      <div class="cell medium-4 u-text--center scenario__icon">
        <a href="{% url 'stemp:demand_district' %}">
          <div class="scenario__icon-circle u-block--center">
            <img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Viertel.svg' %}">
          </div>
          <div class="scenario__icon-label">
            <p><span data-tooltip tabindex="1" title="Sie können Ergebnisse für einen gesamten Quartier, was eine Zusammensetzung aus mehreren Haushalten (wie viele?) ist" data-position="bottom" data-alignment="center">Viertel</span></p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <footer>
    <div class="grid-x">
      <div class="cell u-text--center">
        <a href="{% url 'stemp:index' %}"><span class="anchor-text"><i class ="icon ion-close icon--small"></i>Abbrechen</span></a>
      </div>
    </div>
  </footer>

</div>
{% endblock %}