{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<script src="{% static 'highcharts.js' %}"></script>
{% endblock %}

{% block submenu %}
{% include "includes/submenu.html" with current_menu="demand"%}
{% endblock %}

{% block content %}

<div id="options">
  <form>
    {% csrf_token %}
    {% for opt_name, opts in options.items %}
      {% include "includes/option.html" with option_type=opt_name options=opts %}
    {% endfor %}
  </form>
</div>
<div id="selection">
  {% if selection_form %}
    <form method="post">
      {% csrf_token %}
      <table>
        {{selection_form}}
      </table>
      <input type="submit" value="Weiter" name="done">
    </form>
  {% endif %}
</div>

{% endblock %}