{% extends "stemp/base.html" %}

{% load staticfiles %}

{% block header %}
<script src="{% static 'highcharts.js' %}"></script>
{% endblock %}

{% block body-class %}u-vh--100{% endblock %}

{% block content %}

<div class="grid-container fluid u-no-padding">
  <div class="grid-x">

    <!-- STEPS INFO START (LEFT) -->
    <div class="cell large-4 l-bg-color scen-create__info u-text--center u-block--center" id="scen-create-wrapper">
      <div class="cell"><h1>Haushalt erstellen</h1></div>
      <ul class="wizard wizard-circular" role="steps" aria-label="Steps">
        <li class="current"><span class="show-for-sr">Sie sind auf der Seite Haushaltsstruktur</span> 1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>

      <div class="scen-create__description">
        <div class="scen-create__icon"><img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Einzelhaus.svg' %}" alt="Icon Einzelhaus"></div>
        <h2 class="scen-create__header">Haushaltsstruktur</h2>
        <p class="scen-create__text show-for-large">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi magnam nihil quis doloribus, tempora fuga nesciunt error accusantium, ratione aliquid sed dolorem, minus aperiam consequuntur consectetur laboriosam enim eius id.</p>
      </div>
    </div>
    <!-- STEPS INFO END -->

    <!-- STEPS TASKS START (RIGHT) -->
    <div class="cell large-8 large-offset-4 l-bg-color-w scen-create__wrapper u-text--center">

      <div class="grid-x scen-create__form">
        <div class="cell">
          <h3>Haushalt</h3>
        </div>

        <!-- FORM START -->
        <div class="cell u-text--left">
          {% include 'includes/household_selection.html' %}
        </div>
        <!-- FORM END -->

        {% url 'stemp:demand_selection' as back_url%}
        {% include 'includes/button_section.html' with back_url=back_url %}

      </div>
    </div>
    <!-- STEPS TASKS END -->

  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'jquery.js' %}"></script>
  <script language="JavaScript">
  $(document).ready(function() {
    // Allows one submit button for forms in both tabs:
    $("#done").click(function() {
      if ($("#tabs-1").attr("aria-hidden") == "true") {
        $("#list").submit();
      } else {
        $("#household_form").submit();
      }
    });

    // Changes question button text:
    {% if new_form %}
      var changed = false;

      $("#household_form :input").change(function() {
        if (! changed) {
          changed = true;
          enable_saving_mode();
        }
      });

      function enable_saving_mode() {
        $("input[name=new]").attr("value", "Speichern & Weiter");
        $("input[name=new]").attr("name", "new_save");
        $("input[name=name]").prop("readonly", false);

        $.ajax(
          {
            url: "{% url 'stemp:household_name' %}",
            data: {
              'hh_name': $("input[name=name]").attr("value")
            },
            dataType: 'json',
            success: function (result) {
              $("input[name=name]").attr("value", result.next)
            }
          }
        );
      };
    {% endif %}
  });
  </script>
{% endblock %}