{% extends "stemp/base_side.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body-class %}u-vh--100{% endblock %}

{% block left_side %}


<div class="cell"><h1>{{labels.index}}</h1></div>

{{wizard}}

<div class="scen-create__description">
  <div class="scen-create__icon"><img src="{% static 'stemp/img/icons_custom/Enavi_Einzelhaus.svg' %}" alt="Icon Einzelhaus"></div>
  <h2 class="scen-create__header">{{labels.title}}</h2>
  <p class="scen-create__text show-for-large">{{labels.text}}</p>
</div>

{% endblock %}

{% block right_side %}

<div class="cell large-8 large-cell-block-y">
  <div class="grid-y large-grid-frame">
    <main class="cell large-auto large-cell-block-y main-content-wrap">
      <div class="grid-x" id="tabs">
        <div class="cell scen-create__form u-text--center">
          <h3>Haushalt</h3>
        </div>

        <div class="cell medium-10 medium-offset-1 large-8 large-offset-2 tabs-btn">
          <ul>
            <li>
              <a href="#tabs-1">
                <button type="button" class="button tabs-btn--left active" id="quarterCustomBtn">Benutzerdefiniert</button>
              </a>
            </li>
            <li>
              <a href="#tabs-2">
                <button type="button" class="button tabs-btn--right not-active" id="quarterListBtn">Aus Liste</button>
              </a>
            </li>
          </ul>
        </div>

        <!-- QUESTIONS START -->
        <div class="cell large-8 large-offset-2 reveal-house__questions scen-padding-btm" id="tabs-1">
          <form method="post" id="household_form" class="reveal-house__questions-form">
            {% csrf_token %}
            {% crispy household_form %}
            <input type="hidden" value="house" name="form">
          </form>
        </div>
        <!-- QUESTIONS END -->

        <!-- LIST START -->
        <div class="cell medium-10 medium-offset-1 large-8 large-offset-2 reveal-house__list" id="tabs-2">
          <div class="grid-x">
            <form method="post" id="list" class="reveal-house__list-form">
              {% csrf_token %}
              {% crispy list_form %}
              <input type="hidden" value="list" name="form">
            </form>
          </div>
        </div>
        <!-- LIST END -->

      </div>
    </main>
    <!-- FORM END -->

    {% url 'stemp:demand_selection' as back_url%}
    {% include 'includes/button_section.html' with back_url=back_url function='done();' %}
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script language="JavaScript">
  function done() {
    if ($("#tabs-1").attr("aria-hidden") == "true") {
      $("#list").submit();
    } else {
      $("#household_form").submit();
    }
  };
  </script>
  {{household_form.media}}
{% endblock %}