{% extends "stemp/base.html" %}

{% load staticfiles %}

{% block body-class %}u-vh--100{% endblock %}

{% block content %}

<div class="grid-container fluid u-no-padding">
  <div class="grid-x">

    <!-- STEPS INFO START (LEFT) -->
    <div class="cell large-4 l-bg-color scen-create__info u-text--center u-block--center" id="scen-create-wrapper">
      <div class="cell"><h1>{{labels.index}}</h1></div>
      <ul class="wizard wizard-circular" role="steps" aria-label="Steps">
        <li class="current"><span class="show-for-sr">{{labels.index_tip}}</span> 1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>

      <div class="scen-create__description">
        <div class="scen-create__icon"><img src="{% static 'stemp/img/icons_custom/Enavi_Viertel.svg' %}"></div>
        <h2 class="scen-create__header">{{labels.title}}</h2>
        <p class="scen-create__text show-for-large">{{labels.text}}</p>
      </div>
    </div>
    <!-- STEPS INFO END -->

    <!-- STEPS TASKS START (RIGHT) -->
    <div class="cell large-8 large-offset-4 l-bg-color-w scen-create__wrapper u-text--center">
      <form class="grid-x scen-create__form" method="post" id="district">
        {% csrf_token %}
        <input type="hidden" name="district_name" id="district_name" value="">
        <input type="hidden" name="district_status" value={{district_status}}>

        <div class="cell medium-10 medium-offset-1 large-8 large-offset-2 scen-create__form-header">
          <h3>{{demand_name|default:"Neues Viertel"}}</h3>
          <div class="icon-save">
            <a href="#">
              <img src="{% static 'stemp/img/icons_custom/Enavi_Save_1.svg' %}" alt="Als Szenario speichern" title="Als Szenario speichern">
            </a>
          </div>
          <div class="icon-load">
            <a data-open="load_modal">
              <img src="{% static 'stemp/img/icons_custom/Enavi_Upload.svg' %}" alt="Gespeichertes Szenario laden" title="Gespeichertes Szenario laden">
            </a>
          </div>
        </div>

        {% for field in district_form %}
          {{field}}
        {% endfor %}

        {% url 'stemp:demand_selection' as back_url%}

        {% if district_status == 'unchanged' %}
          {% include 'includes/button_section.html' with back_url=back_url %}
        {% else %}
          {% include 'includes/button_section.html' with back_url=back_url modal="true" done_id="district_modal"%}
        {% endif %}

        <div class="reveal" id="district_modal" data-reveal>
          {% if district_status == 'changed' %}
            Das Viertel wurde geändert - was soll passieren?<br>
            <input type="button" onclick="district_save()" class="btn btn-cta btn-submit" value="Änderungen speichern"><br>
            Viertel unter neuem Namen speichern:
          {% else %}
            Wie soll das neue Viertel heißen?
          {% endif %}
          <input type="text" name="district_name" id="district_name_modal">
          <input type="button" onclick="district_submit()" class="btn btn-cta btn-submit" value="Neues Viertel anlegen">
        </div>

      </form>
    </div>
    <!-- STEPS TASKS END -->

    <!-- LOAD MODAL START -->
    <div class="reveal" id="load_modal" data-reveal>
      <form method="post">
        {% csrf_token %}
        {{district_load_form}}
        <input type="submit" name="load_district" value="Laden">
      </form>
    </div>
    <!-- LOAD MODAL END -->

  </div>
</div>

{% endblock %}

{% block scripts %}
<!--<script src="{% static 'jquery.js' %}"></script>-->
<script language="JavaScript">
  function district_submit() {
    $("#district_name").val($("#district_name_modal").val());
    $("#district").submit();
  }
  function district_save() {
    $("#district").submit();
  }
</script>
{% endblock %}