
{% load static %}

<footer class="footer-hp l-bg-color--w">
  <div class="grid-x">
    <div class="cell small-6 medium-4 large-3 medium-offset-2 large-offset-3 u-text--right u-padding-bottom">
      <img id="hp__logo-rli" src="{% static 'img/rli_logo.png' %}">
    </div>
    <div class="cell small-6 medium-4 large-3">
      <img id="hp__logo-bmbf" src="{% static 'stemp/img/BMBF_widget_final.png' %}">
    </div>
    <div class="cell medium-8 large-6 medium-offset-2 large-offset-3">
      <ul class="u-text--center" id="footer-links">
        <li><a class="anchor-text--dark">Kontakt</a></li>
        <li><a class="anchor-text--dark">Impressum</a></li>
        <li><a class="anchor-text--dark">Datenschutz</a></li>
        <li><a class="anchor-text--dark">Lizenz</a></li>
        <li class="hide-for-small-only"><p class="u-no-margin">&copy; Reiner Lemoine Institut gGmbH</p></li>
      </ul>
    </div>
  </div>
</footer>