{% extends "base.html" %}

{% block title %}StEmp-Tool - Homepage{% endblock %}

{% block content %}


<!-- NAVIGATION -->
<div class="title-bar" data-responsive-toggle="stemp-menu" data-hide-for="medium" id="mobile-nav">
  <button class="menu-icon" type="button" data-toggle="stemp-menu"></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="stemp-menu">
  <div class="top-bar-left">
    <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
      <li><a href="#">Homepage</a></li>
      <li><a href="#">Was ist das StEmp-Tool?</a></li>
      <li><a href="#">Neues Szenario berechnen</a></li>
      <li><a href="#">Gespeicherte Szenarien</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu">
      <li><a href="#">Einloggen</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </div>
</div>
<!-- END NAVIGATION -->

<div class="grid-container">

  <div class="grid-x grid-margin-x align-center align-middle hp-main-content">
    <div class="cell medium-8 large-6">
      <h1 class="hp-header">StEmp-Tool</h1>
      <p class="hp-subheader">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
      <div class="center-horizontal"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/BMBF_Logo.svg"></div>
    </div>
  </div>

  <div class="grid-x grid-margin-x align-center hp-btn-container">
    <div class="cell medium-8 large-6 align-center">
      <a href="../demand">
        <div class="btn btn--primary">Neues Szenario berechnen</div>
      </a>
      <a href="about.html">
        <div class="btn btn--secondary">Konto erstellen</div>
      </a>
      <div class="center-horizontal">
        <a class="grey">
          Einloggen
        </a>
      </div>
    </div>
  </div>

</div>

<footer>
  <div class="center-horizontal">
    <a href="#">Kontakt</a>
    <a href="#">Impressum</a>
  </div>
</footer>

{% endblock %}