{% extends "stemp/base.html" %}

{% load staticfiles %}

{% block content %}

<div class="grid-container hp__wrapper">
  <div class="grid-x">

    <div class="cell u-text--center">
      <h1 class="hp__header">Wärmeversorgung im Viertel</h1>
    </div>
    <div class="cell u-text--center hp-subheader">
      <h2 class="hp__subheader">Hilfe zum Finden von kostengünstigen und umweltfreundlichen Heizungsoptionen für Haushalte und Viertel</h2>
    </div>



    <!-- BUTTONS START -->
    <div class="cell u-text--center hp__btn">
      <a href="{% url 'stemp:demand_selection' %}" class="btn btn-cta">Neues Projekt erstellen</a>
    </div>
    <div class="cell u-text--center hp__btn">
      <a href="about.html" class="btn btn--hollow--light">Einloggen</a>
    </div>
    <!-- BUTTONS END -->

    <div class="cell u-text--center">
      <p class="u-inline-block">Neu hier? </p><a href="about.html"><span class="anchor-text"> Registrieren</span></a>
    </div>

  </div>
</div>

{% include 'includes/footer.html' %}

{% endblock %}