<div class="title-bar" id="nav-container" data-responsive-toggle="simple-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="simple-menu">
  <div class="top-bar-left show-for-large">
    <ul class="menu">
      <li><a class="anchor-text--light" href="{% url 'stemp:index' %}">Startseite</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" id="nav-list-vertical" data-dropdown-menu>
      <!-- <li class="menu-text">Startseite</li> -->
      <li><a class="anchor-text--light" href="{% url 'stemp:demand_selection' %}">Neues Szenario</a></li>
      <li><a class="anchor-text--light" href="#">Meine Szenarien</a></li>
      <li>
        <a class="anchor-text--light" href="#">Über uns</a>
        <ul class="menu vertical">
          <li><a class="anchor-text--light" href="#">Kontakt</a></li>
          <li><a class="anchor-text--light" href="#">Impressum</a></li>
          <li><a class="anchor-text--light" href="#">Datenschutz</a></li>
          <li><a class="anchor-text--light" href="#">Quellen</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>