{% extends "stemp/base.html" %}

{% load staticfiles %}


{% block body-class %}u-vh--100{% endblock %}

{% block content %}

<div class="grid-container fluid u-no-padding">
  <div class="grid-x">

    <!-- STEPS INFO START (LEFT) -->
    <div class="cell large-4 l-bg-color scen-create__info u-text--center u-block--center" id="scen-create-wrapper">
      <div class="cell"><h1>{{demand_label}}</h1></div>
      <ul class="wizard wizard-circular" role="steps" aria-label="Steps">
        <li>1</li>
        <li>2</li>
        <li class="current"><span class="show-for-sr">Sie sind auf der Seite Technologie- und Kostenparameter des Viertels</span> 3</li>
        <li>4</li>
      </ul>

      <div class="scen-create__description">
        <div class="scen-create__icon"><img src="{% static 'stemp/foundation/img/icons_custom/Enavi_Parameter.svg' %}" alt="Icon Parameter"></div>
        <h2 class="scen-create__header">Parameter</h2>
        <p class="scen-create__text show-for-large">Optional können Sie auch Kosten- sowie Technologieparameter einzeln ändern.</p>
      </div>
    </div>
    <!-- STEPS INFO END -->

    <!-- STEPS TASKS START (RIGHT) -->
    <div class="cell large-8 large-offset-4 l-bg-color-w scen-create__wrapper u-text--center">

      <div class="grid-x scen-create__form">
        <div class="cell">
          <h3>{{demand_name}}</h3>
        </div>

        <form class="cell medium-10 medium-offset-1 large-8 large-offset-2" action="{% url 'stemp:parameter' %}" method="post">
          {% csrf_token %}
          {% include "forms/parameter_form.html" with form=parameter_form %}
          <input type="hidden" name="scenario" value="{{scenario}}">
          <!--<input class="btn btn-default" type="submit" value="Parameter laden" name="load">-->
        </form>

        {% url 'stemp:technology' as back_url%}
        {% include 'includes/button_section.html' with back_url=back_url %}
      </div>
    </div>
    <!-- STEPS TASKS END -->

  </div>
</div>

{% endblock %}