{% extends "base.html" %}

{% load staticfiles %}

{% block submenu %}
{% include "includes/submenu.html" with current_menu="select"%}
{% endblock %}

{% block content %}

<div class="l-bg-color u-vh-100">

  <div class="grid-container hp-wrapper">
    <div class="grid-x">

      <div class="cell u-text-center">
        <h1 class="hp-header">Stemp-Tool</h1>
      </div>
      <div class="cell u-text-center hp-subheader">
        <h2 class="hp-subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
      </div>

      <div class="cell medium-6 medium-offset-3">
        <div class="grid-x hp-logo u-text-center">
          <div class="cell small-6">
            <img id="hp-logo-rli" src="{% static 'assets/img/rli_logo.png' %}">
          </div>
          <div class="cell small-6">
            <img id="hp-logo-bmbf" src="{% static 'assets/img/BMBF_widget_final.png' %}">
          </div>
        </div>
      </div>

      <div class="cell u-text-center">
        <a href="about.html" class="button cta">Neues Szenario erstellen</a>
      </div>
      <div class="cell u-text-center">
        <a href="about.html" class="button">Einloggen</a>
      </div>



      <!-- BUTTONS START -->
      <div class="cell u-text-center">
        <a href="{% url 'stemp:demand' %}" class="button cta">Neues Szenario erstellen</a>
      </div>
      <div class="cell u-text-center">
        <a href="about.html" class="button">Einloggen</a>
      </div>
      <!-- BUTTONS END -->

      <div class="cell u-text-center hp-register">
        <a href="about.html">Neu hier? Sich registrieren</a>
      </div>

    </div>
  </div>

  <footer>
    <div class="grid-x">
      <div class="cell medium-6 u-block-center">
        <ul class="u-text-center" id="footer-links">
          <li><a>Kontakt</a></li>
          <li><a>Impressum</a></li>
          <li>Reiner Lemoine Institut</li>
        </ul>
      </div>
    </div>
  </footer>


</div>

{% endblock %}