
{% extends "stemp/base_side.html" %}

{% load staticfiles %}

{% block body-class %}u-vh--100{% endblock %}

{% block left_side %}

<div class="cell">
  <h1>{{demand_label}}</h1>
</div>

{{wizard}}

<!-- START Page description -->
<div class="scen-create__description">
  <div class="scen-create__icon"><img src="{% static 'stemp/img/icons_custom/Enavi_Zusammenfassung.svg' %}" alt="Icon Zusammenfassung"></div>
  <h2 class="scen-create__header">Zusammenfassung</h2>
  <p class="scen-create__text show-for-large">Überprüfen Sie Ihre Eingaben, bevor Sie das Szenario berechnen lassen.</p>
</div>
<!-- START Page description -->

{% endblock %}

{% block right_side %}

<div class="cell large-8 large-cell-block-y">
  <div id="layout-grid-y" class="grid-y">
    <div id="layout-block" class="cell">

      <main class="cell medium-10 main-content-wrap">
        <div class="grid-x align-center main-padding">

          <div class="cell scen-create__form u-text--center">
            <h3>{{demand_name}}</h3>
          </div>

          <!-- HOUSEHOLD STRUCTURE START -->
          <div class="cell summary-block summary-block--nopadding">
            <div class="grid-x grid-padding-x">

              <div class="cell medium-8 medium-offset-2 summary__header">
                <img src="{% static 'stemp/img/icons_custom/mv_icon_district.svg' %}" alt="Icon District" class="summary__header-icon icon-district">
                <h3 class="summary__header-text">Haushaltsstruktur</h3>
                <a href="{% if is_district %}{% url 'stemp:demand_district' %}{% else %}{% url 'stemp:demand_single' %}{% endif %}"><i class="icon ion-android-create icon--small"></i><span class="show-for-medium"> Ändern</span></a>
              </div>

              {% for demand in demands %}
                {{demand}}
              {% endfor %}
            </div>
          </div>
          <!-- HOUSEHOLD STRUCTURE END -->

          <!-- HEATING OPTION START -->
          <div class="cell l-bg-color--light summary-block">
            <div class="grid-x grid-padding-x">

              <div class="cell medium-8 medium-offset-2 summary__header">
                <img src="{% static 'stemp/img/icons_custom/mv_icon_heater_b.svg' %}" alt="Icon Heizung" class="summary__header-icon icon-heater">
                <h3 class="summary__header-text">Wärmetechnologien</h3>
                <a href="{% url 'stemp:technology' %}"><i class="icon ion-android-create icon--small"></i><span class="show-for-medium"> Ändern</span></a>
              </div>

              {% for tech in technologies %}
                {{tech}}
              {% endfor %}

            </div>
          </div>
          <!-- HEATING OPTION END -->

          <!-- PARAMETER OPTION START -->
          <div class="cell summary-block">
            <div class="grid-x grid-padding-x">

              <div class="cell medium-8 medium-offset-2 summary__header">
                <img src="{% static 'stemp/img/icons_custom/Enavi_Parameter_b.svg' %}" alt="Icon Parameter" class="summary__header-icon icon-parameters">
                <h3 class="summary__header-text">Parameter</h3>(nur geänderte Parameter werden gelistet)
                <a href="{% url 'stemp:parameter' %}"><i class="icon ion-android-create icon--small"></i><span class="show-for-medium"> Ändern</span></a>
              </div>

              {{parameters}}

            </div>
          </div>
          <!-- PARAMETER OPTION END -->

        </div>
      </main>
    </div>

    <form action="" method="post" id="summary">
      {% csrf_token %}
      {% url 'stemp:parameter' as back_url%}
      {% include 'includes/button_section.html' with back_url=back_url done_function="done();" done_label="Fertig" %}
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'jquery.js' %}"></script>
  <script language="JavaScript">
    function done() {
      $("#summary").submit();
    };
  </script>
{% endblock %}