
{% load staticfiles %}

<div class="cell medium-10 medium-offset-1 large-8 large-offset-2 card-thin">
  <div class="grid-x">
    <input type="hidden" name="{{widget.attrs.hh_id}}" value="{{widget.attrs.count}}">
    <div class="cell small-1 card-thin__number">{{widget.attrs.count}}</div>
    <div class="cell small-1">
      <img src="{% static 'stemp/img/icons_custom/Enavi_Einzelhaus_b.svg' %}" alt="Haushalt">
    </div>
    <div class="cell small-8 small-offset-1 card-thin__text">
      {{widget.attrs.hh_name}}
      <button type="submit" name="trash" value="{{widget.attrs.hh_id}}">
        <i class ="icon ion-android-delete icon--medium"></i>
      </button>
    </div>
  </div>
</div>
