
{% load staticfiles %}

<div class="cell house-component house-component--district">
  <div class="grid-x">
    <div class="cell medium-2 house-component__input">
      <input class="input-group-field" type="number" name="{{widget.attrs.household.id}}" value="{{widget.attrs.count}}">
    </div>
    <div class="cell medium-10">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">
            <div class="grid-x grid-padding-x align-justify house-component__grid">
              <div class="cell house__header">
                <div class="house__header-text">{{widget.attrs.household.name}}</div>
              </div>
            </div>
          </a>
          <div class="accordion-content house__content" data-tab-content>
            {% include 'includes/summary_household.html' with household=widget.attrs.household deletable=widget.attrs.deletable%}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
