<div class="row">
  <div class="small-10 columns">
    <div class="slider" data-slider data-start="{{widget.attrs.min}}" data-initial-start="{{widget.value}}" data-end="{{widget.attrs.max}}" data-step="{{widget.step_size}}">
      <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="id_{{widget.name}}"></span>
      <span class="slider-fill" data-slider-fill></span>
    </div>
  </div>
  <div class="small-2 columns">
    <input type="{{widget.type}}" name="{{widget.name}}" id="id_{{widget.name}}">
  </div>
</div>