<div class="cell medium-8">
  <label for="{{widget.attrs.id}}" class="accordion-label">{{widget.attrs.label}}</label>
  <div class="slider slider--{{widget.attrs.parameter_type}} accordion-slider" id="{{widget.attrs.id}}_slider" data-slider data-start="{{widget.attrs.min}}" data-initial-start="{{widget.value}}" data-end="{{widget.attrs.max}}" data-decimal="{{widget.precision}}" data-step="{{widget.step_size}}">
    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="{{widget.attrs.id}}"></span>
    <span class="slider-fill" data-slider-fill></span>
  </div>
</div>
<div class="cell medium-4 accordion-input">
  <div class="input-group accordion-input-box">
    <input class="input input-group-field" type="{{widget.type}}" name="{{widget.name}}" id="{{widget.attrs.id}}">
    <span class="input-group-label">{{widget.attrs.unit}}</span>
  </div>
</div>