
<div class="grid-x">
  <div class="cell medium-10 medium-offset-1">
    <label class="form__label">
      {{form.load_demand.label}}
      <div class="input-group">
        {{form.load_demand.errors}}
        {{form.load_demand}}
        <span class="input-group-label">kWh/Jahr</span>
      </div>
    </label>
  </div>
  <div class="cell medium-10 medium-offset-1">
    <label class="form__label">
      {{form.heat_demand.label}}
      <div class="input-group">
        {{form.heat_demand.errors}}
        {{form.heat_demand}}
        <span class="input-group-label">kWh/Jahr</span>
      </div>
    </label>
  </div>
  <div class="cell medium-10 medium-offset-1">
    <label class="form__label">{{form.load_profile.label}}
      {{form.load_profile.errors}}
      {{form.load_profile}}
    </label>
  </div>
  <div class="cell medium-10 medium-offset-1">
    <label class="form__label">{{form.heat_profile.label}}
      {{form.heat_profile.errors}}
      {{form.heat_profile}}
    </label>
  </div>
  <div class="cell medium-10 medium-offset-1">
    <label class="form__label">
      {{form.name.label}}
      {{form.name.errors}}
      {{form.name}}
    </label>
  </div>
</div>