
{% load staticfiles %}
{% load labels %}

<div class="grid-x align-middle">

  <!-- 5. ROW -->
  <div class="cell">
    <div class="grid-x align-center">
      <div class="cell medium-10 large-8 hh-component__form">
        <h3>Name des Haushalts</h3>
        <label class="form__label" for="id_name">
          <font color="darkred">{{form.name.errors}}</font>
          {{form.name}}
          {{form.hh_instance}}
        </label>
      </div>
    </div>
  </div>

  <!-- 1. ROW -->
  <div class="cell l-bg-color--light">
    <div class="grid-x align-center">
      <div class="cell medium-10 large-8 hh-component__form">
        <h3>Haus</h3>
        <label for="{{form.number_of_persons.id_for_label}}" class="form__label">{{form.number_of_persons.label}}
          <font color="darkred">{{form.number_of_persons.errors}}</font>
          {{form.number_of_persons}}
        </label>
        <label class="form__label" for="{{form.house_type.id_for_label}}">{{form.house_type.label}}
          <font color="darkred">{{form.house_type.errors}}</font>
          {% if form.house_type_fix %}{{form.house_type_fix.value}}{% endif %}
          {{form.house_type}}
        </label>
        <fieldset id="sm_option">
          <legend>Grundfläche</legend>
          <font color="darkred">{{form.square_meters.errors}}</font>
          <ul class="menu vertical">
            <li>
              <input type="radio" name="sm" value="auto" id="radio_sm_auto" required {% if not form.hh_instance %}checked=""{% endif %}>
              <label for="radio_sm_auto" class="form__label">Standardwert</label>
              <div class="input-group input-disabled">
                <input class="input-group-field input input--s" type="text" readonly step="any" id="sm_auto">
                <span class="input-group-label">qm</span>
              </div>
            </li>
            <li>
              <input type="radio" name="sm" value="hand" id="radio_sm_hand" {% if form.hh_instance %}checked=""{% endif %}>
              <label for="radio_sm_hand" class="form__label">{{form.square_meters_hand.label}}</label>
                <div class="input-group">
                  {{form.square_meters_hand}}
                  <span class="input-group-label">qm</span>
                </div>
            </li>
          </ul>
          {{form.square_meters}}
        </fieldset>
      </div>
    </div>
  </div>

  <!-- 3. ROW -->
  <!-- Check if input IDs are correct -->
  <div class="cell">
    <div class="grid-x align-center">
      <div class="cell medium-10 large-8">
        <div class="grid-x align-middle">
          <div class="cell medium-8 hh-component__form">
            <h3>Heizung</h3>
            <label for="id_heat_type" class="form__label">
              {{form.heat_type.label}}
              {{form.heat_type}}
            </label>

            <fieldset id="heat_option">
              <legend>Jährlicher Energiebedarf durch Heizung</legend>
              <font color="darkred">{{form.heat_demand.errors}}</font>
              <ul class="menu vertical">
                <li>
                  <input type="radio" name="heat" value="person" id="radio_heat_auto" required {% if not form.hh_instance %}checked=""{% endif %}>
                  <label for="radio_heat_auto" class="form__label">Standardwert</label>
                  <div class="input-group">
                    <input class="input-group-field input input--s" type="text" readonly step="any" id="heat_auto">
                    <span class="input-group-label">kWh</span>
                  </div>
                </li>
                <li>
                  <input type="radio" name="heat" value="hand" id="radio_heat_hand" {% if form.hh_instance %}checked=""{% endif %}>
                  <label for="radio_heat_hand" class="form__label">{{form.heat_demand_hand.label}}</label>
                  <div id="hand">
                    <div class="input-group">
                      {{form.heat_demand_hand}}
                      <span class="input-group-label">kWh</span>
                    </div>
                  </div>
                </li>
              </ul>
            </fieldset>
          </div>
          {{form.heat_demand}}

          <div class="cell medium-4 hh-component__parameter hh-component__parameter--energy">
            <div class="grid-y">
              <div class="cell small-8">
                <img class="hh-img--medium" src="{% static 'stemp/img/icons_custom/mv_icon_heater.svg' %}">
              </div>
              <div class="cell small-4 show-parameters">
                <span id="show_heat_demand">7920</span><span>&nbsp;kWh</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 4. ROW -->
  <!-- Check if input IDs are correct -->
  <div class="cell l-bg-color--light">
    <div class="grid-x align-center">
      <div class="cell medium-10 large-8">
        <div class="grid-x align-middle">
          <div class="cell medium-8 hh-component__form">
            <h3>Warmwasser</h3>
              <ul class="menu vertical">
                <li>
                  <div class="grid-x parameter-slider">
                    <div class="cell large-8">
                      <p class="parameter-slider__label">
                        Täglicher Verbrauch {{warm_water_slider_start}}
                      </p>
                      {{form.warm_water_slider}}
                    </div>
                  </div>
                </li>
              </ul>
            <div>
              {{form.warm_water_per_day.label}}
              <span class="has-tip--no-border">
                <i data-open="modal-warmwater" class ="icon ion-information-circled icon--small info-box" title="Hier klicken um mehr Informationen zum Warmwasserverbrauch zu erhalten"></i>
              </span>
              <font color="darkred">{{form.warm_water_per_day.errors}}</font>
              <div class="input-group">
                {{form.warm_water_per_day}}
                <span class="input-group-label">l/Tag</span>
              </div>
            </div>
            <div class="reveal" id="modal-warmwater" data-reveal>
              <div class="grid-x technology">
                <div class="cell technology__header">
                  <h2 style="font-size: 1.2rem">Warmwasserverbrauch</h2>
                </div>
                <div class="cell">
                  {{form.hotwater_hc}}
                </div>
                <div class="cell technology__img">
                  <img src="{% static 'stemp/img/Warmwasserverbrauch.svg' %}">
                </div>
                <div class="cell technology__text">
                  {% label 'demand:warmwater' app='stemp' safe=True%}
                </div>
              </div>
              <button class="close-button" data-close aria-label="Schließen" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div class="cell medium-4 hh-component__parameter hh-component__parameter--energy">
            <div class="grid-y">
              <div class="cell small-8">
                <img class="hh-img--small" src="{% static 'stemp/img/icons_custom/mv_icon_hot_water.svg' %}">
              </div>
              <div class="cell small-4 show-parameters">
                <span id="show_warmwater">2800</span><span>&nbsp;kWh</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 2. ROW -->
  <div class="cell">
    <div class="grid-x align-center">
      <div class="cell medium-10 large-8">
        <div class="grid-x align-middle">
          <div class="cell medium-8 hh-component__form">
            <h3>Dachfläche</h3>
            <fieldset id="roof_option">
              <legend>
                Verfügbare Dachfläche für Photovoltaik
              </legend>
              <font color="darkred">{{form.roof_area.errors}}</font>
              <ul class="menu vertical" id="roof-area-form">
                <li>
                  <input type="radio" name="roof" value="auto" id="radio_roof_auto" required {% if not form.hh_instance %}checked=""{% endif %}>
                  <label for="radio_roof_auto" class="form__label">Standardwert</label>
                  <div class="input-group">
                    <input class="input-group-field input input--m" type="text" id="roof_auto" readonly step="any" required>
                    <span class="input-group-label">qm</span>
                  </div>
                </li>
                <li>
                  <input type="radio" name="roof" value="hand" id="radio_roof_hand" {% if form.hh_instance %}checked=""{% endif %}>
                  <label for="radio_roof_hand" class="form__label">{{form.roof_area_hand.label}}</label>
                  <div class="input-group">
                    {{form.roof_area_hand}}
                    <span class="input-group-label">qm</span>
                  </div>
                </li>
              </ul>
            </fieldset>
          </div>
          {{form.roof_area}}

          <div class="cell medium-4 hh-component__parameter hh-component__parameter--area">
            <div class="grid-y">
              <div class="cell small-8">
                <img class="hh-img--large" src="{% static 'stemp/img/icons_custom/mv_icon_roof_area.svg' %}">
              </div>
              <div class="cell small-4 show-parameters">
                <span id="show_roof_area">20</span><span>&nbsp;qm</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>