
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{node.label}}</h2>
  </div>
  <div class="panel-body">
    {% for flow_type, forms in node.flows.items %}
      {% if flow_type == 'single' %}
        <table class="table table-condensed">
          {% for field in forms.0 %}
            <tr>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{flow_type}}</h3>
          </div>
          <div class="panel-body">
            {% for attr_form in forms %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{attr_form.label}}</h3>
                </div>
                <div class="panel-body">
                  <table class="table table-condensed">
                    {% for field in attr_form %}
                      <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
