
{% regroup form by field.group as field_groups %}

<ul class="accordion" data-accordion>
  {% for field_group in field_groups %}
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">{{field_group.grouper}}</a>
      <div class="accordion-content" data-tab-content>
        <div class="grid-x grid-margin-x">
          {% for field in field_group.list %}
            {{field}}
          {% endfor %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
