<!-- BUTTONS SECTION START -->
<div class="cell large-8 u-text--center scen-create__btn scen-create__btn--fixed">
  <div class="grid-x">
    <div class="u-text--center btn-left">
      <a href={{back_url}} class="btn btn--hollow">
        <i class ="icon ion-chevron-left icon--small"></i>
        Zurück
      </a>
    </div>
    <div class="u-text--center btn-right">
      {% if modal %}
        <button type="button" class="btn btn-cta" data-open={{done_id|default:"done"}}>
          Weiter
          <i class ="icon ion-chevron-right icon--small"></i>
        </button>
      {% else %}
        {% if is_district_hh %}
          <button type="submit" class="btn btn-apply btn-apply--secondary" name="done" id={{done_id|default:"done"}}>
            ​Hinzufügen
            <i class ="icon ion-android-add​ icon--small"></i>
          </button>
        {% else %}
          <button type="submit" class="btn btn-cta btn-submit" name="done" id={{done_id|default:"done"}}>
            Weiter
            <i class ="icon ion-chevron-right icon--small"></i>
          </button>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <a href="{% url 'stemp:index' %}">
    <span class="anchor-text">
    <i class ="icon ion-close icon--small"></i>
    Abbrechen
    </span>
  </a>
</div>
<!-- BUTTONS SECTION END -->