
{% load static %}

<footer class="footer-hp l-bg-color--w">
  <div class="grid-x">
    <div class="cell small-4 u-text--right u-padding-bt--m">
      <a href="https://www.kopernikus-projekte.de/projekte/systemintegration" target="_blank" title="Zum Kopernikus Projekt ENavi">
        <img id="hp__logo-enavi" src="{% static 'stemp/img/Logo_KoProj_ENavi_rgb_RZ.png' %}" alt="ENAvi">
      </a>
    </div>
    <div class="cell small-4 u-text--center u-padding-bt--m">
      <a href="https://reiner-lemoine-institut.de/" target="_blank" title="Zur Reiner Lemoine Institut Homepage">
        <img id="hp__logo-rli" src="{% static 'img/rli_logo.png' %}" alt="Logo Reiner Lemoine Institut">
      </a>
    </div>
    <div class="cell small-4">
      <a href="https://www.bmbf.de/" target="_blank" title="Zur Homepage des Bundesministerium für Bildung und Forschung">
        <img id="hp__logo-bmbf" src="{% static 'stemp/img/BMBF_logo.png' %}" alt="Logo BMBF">
      </a>
    </div>
    <div class="cell medium-8 large-6 medium-offset-2 large-offset-3">
      <ul class="u-text--center" id="footer-links">
        <li><a class="anchor-text--dark">Kontakt</a></li>
        <li><a class="anchor-text--dark">Impressum</a></li>
        <li><a class="anchor-text--dark">Datenschutz</a></li>
        <li><a class="anchor-text--dark">Lizenz</a></li>
        <li class="hide-for-small-only"><p class="u-no-margin">&copy; Reiner Lemoine Institut gGmbH</p></li>
      </ul>
    </div>
  </div>
</footer>