
<div class="grid-x" id="tabs">
  <div class="cell medium-10 medium-offset-1 large-8 large-offset-2">
    <h4>Einen Haushalt erstellen</h4>
  </div>
  <div class="cell medium-10 medium-offset-1 large-8 large-offset-2 tabs-btn">
    <ul>
      <li>
        <a href="#tabs-1">
          <button type="button" class="button tabs-btn--left active" id="quarterCustomBtn">Benutzerdefiniert</button>
        </a>
      </li>
      <li>
        <a href="#tabs-2">
          <button type="button" class="button tabs-btn--right not-active" id="quarterListBtn">Aus Liste</button>
        </a>
      </li>
    </ul>
  </div>

  <!-- QUESTIONS START -->
  <div class="cell large-8 large-offset-2 reveal-house__questions scen-padding-btm" id="tabs-1">
    <form method="post" class="reveal-house__questions-form">
      {% include "forms/question_form.html" with form=specific_form %}
    </form>

    {% if new_form %}
    <form id="household_form" method="post">
      {% csrf_token %}
      {% include "forms/household_form.html" with form=new_form %}
      <input type="hidden" value={{new_form.question_id}} name="question_id">
      <input type="hidden" value="Weiter" name="new">
    </form>
    {% endif %}
  </div>
  <!-- QUESTIONS END -->

  <!-- LIST START -->
  <div class="cell medium-10 medium-offset-1 large-8 large-offset-2 reveal-house__list" id="tabs-2">
    <div class="grid-x">
      <form method="post" id="list" class="reveal-house__list-form">
        {% csrf_token %}
        {% include 'forms/household_list_form.html' with form=list_form %}
        <input type="hidden" value="Weiter" name="list">
      </form>
    </div>
  </div>
  <!-- LIST END -->

</div>