
<table>
  {% for option in options %}
    {% if options|length == 1 %}
      <input type="hidden" name="{{option_type}}" value="{{option.value}}">
    {% endif %}
    <tr>
      <td>{{option.image}}</td>
      <td>
        <label for="{{option_type}}_{{option.value}}">{{option.label}}</label>
        <input class="btn btn-default"
               type="submit"
               id="{{option_type}}_{{option.value}}"
               value="{% if options|length == 1 %}back{% else %}{{option.value}}{% endif %}"
               name="{{option_type}}">
      </td>
    </tr>
  {% endfor %}
</table>