
<!-- NAVIGATION START -->
  <div class="title-bar" id="title-bar-mobile" data-responsive-toggle="top-nav-bar" data-hide-for="medium">
    <button class="menu-icon" type="button" id="menu-hamburger" data-toggle="top-nav-bar"></button>
    <div class="title-bar-title"></div>
  </div>

  <div class="top-bar top-bar--transparent" id="top-nav-bar">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
        <li><a href="{% url 'stemp:select' %}">Homepage</a></li>
        <li><a href="{% url 'stemp:demand_selection' %}">Neues Szenario berechnen</a></li>
        <li><a href="#">Gespeicherte Szenarien</a></li>
      </ul>
    </div>
    <!--
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu">
        <li><a href="#">Einloggen</a></li>
      </ul>
    </div>
    -->
  </div>
  <!-- NAVIGATION END -->